.container {
  display: grid;
  padding: 2rem 10rem;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  height: 560px;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.left {
}

.right {
}

.items {
}

.items div {
  display: grid;
  place-items: center;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid #9ca3af;
  border-bottom: none;
}

.items div:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

.title {
  background-color: #f97316;
  display: grid;
  place-items: center;
  height: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #9ca3af;
}

.input {
  display: grid;
  gap: 2rem;
}

input[type="text"] {
  height: 4rem;
  border: 1px solid #9ca3af;
  padding: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.reset-button {
  width: 100%;
  border: 1px solid #9ca3af;
  background-color: #f97316;
}

.submit-button {
  border: 1px solid #9ca3af;
  background-color: #f97316;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .items div {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: auto;
    padding: 0;
    gap: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
