.container {
  height: 100%;
  display: grid;
  place-items: center;
  gap: 2rem;
  border: 1px solid #9ca3af;
  border-top: none;
  border-bottom: none;
}

.one {
  justify-self: center;
  align-self: end;
}

.two {
  justify-self: center;
  align-self: start;
}

a {
  padding: 1rem 2rem;
}

.active-link,
.active-link:link,
.active-link:visited,
.active-link:focus {
  border-radius: 0.4rem;
  background-color: #06b6d4;
  color: #082f49;
}

.active-link:hover {
  opacity: 0.9;
}
